 $white: #fafafa;
 $grey: #333;
 $red: #f44336;
 $purple: #9c27b0;
 $blue: #2196f3;
 $green: #4caf50;
 $yellow: #fdd835;
 $orange: #ff9800;
 $brown: #795548;
 $black: #222;

/* button function */

 @mixin button_color($color){
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  background: $color;
  border: 1px solid $color - 50;
  padding: 10px 20px;
  font-size: 1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.2) ; 
  text-shadow: -1px -1px 0 rgba(29, 36, 54, 0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

 }

/* button hover function */

 @mixin button_color_hover($color){
  background: $color - 20;
  border: 1px solid $color - 50;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 }

/* button active function */

 @mixin button_color_active($color){
  background: $color;
  border: 1px solid $color - 100;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  text-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
 }

 /* flat button function */

 @mixin flat_button_color($color){
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  background: transparent;
  color: $color;
  border: 2px solid $color;
  padding: 10px 20px;
  font-size: 1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  border-radius: 5px; }

 @mixin flat_button_color_hover($color){
  color: #fff;
  background: $color;
  border: 2px solid $color;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
 }

/* button active function */

 @mixin flat_button_color_active($color){
  background: $color + 50;
  border: 2px solid $color;
  -webkit-transition: all 40ms ease-in;
  -moz-transition: all 40ms ease-in;
  -o-transition: all 40ms ease-in;
  transition: all 40ms ease-in;
 }


 .button-white{
  color: $grey;
  @include button_color($white);
 }
 .button-white:hover{
  @include button_color_hover($white);
 }
 .button-white:active{
  @include button_color_active($white);
 }

 .button-red{
  color: $white;
  @include button_color($red);
 }
 .button-red:hover{
  @include button_color_hover($red);
 }
 .button-red:active{
  @include button_color_active($red);
 }

 .button-grey{
  color: $white;
  @include button_color($grey);
 }
 .button-grey:hover{
  @include button_color_hover($grey);
 }
 .button-grey:active{
  @include button_color_active($grey);
 }

 .button-purple{
  color: $white;
  @include button_color($purple);
 }
 .button-purple:hover{
  @include button_color_hover($purple);
 }
 .button-purple:active{
  @include button_color_active($purple);
 }

 .button-blue{
  color: $white;
  @include button_color($blue);
 }
 .button-blue:hover{
  @include button_color_hover($blue);
 }
 .button-blue:active{
  @include button_color_active($blue);
 }

 .button-green{
  color: $white;
  @include button_color($green);
 }
 .button-green:hover{
  @include button_color_hover($green);
 }
 .button-green:active{
  @include button_color_active($green);
 }

 .button-yellow{
  color: $white;
  @include button_color($yellow);
 }
 .button-yellow:hover{
  @include button_color_hover($yellow);
 }
 .button-yellow:active{
  @include button_color_active($yellow);
 }

 .button-orange{
  color: $white;
  @include button_color($orange);
 }
 .button-orange:hover{
  @include button_color_hover($orange);
 }
 .button-orange:active{
  @include button_color_active($orange);
 }

 .button-brown{
  color: $white;
  @include button_color($brown);
 }
 .button-brown:hover{
  @include button_color_hover($brown);
 }
 .button-brown:active{
  @include button_color_active($brown);
 }

  .button-black{
  color: $white;
  @include button_color($black);
 }
 .button-brown:hover{
  @include button_color_hover($black);
 }
 .button-brown:active{
  @include button_color_active($black);
 }

 .flat-grey{
  @include flat_button_color($grey);
 }
 .flat-grey:hover{
  @include flat_button_color_hover($grey);
 }
 .flat-grey:active{
  @include flat_button_color_active($grey);
 }

 .flat-red{
  @include flat_button_color($red);
 }
 .flat-red:hover{
  @include flat_button_color_hover($red);
 }
 .flat-red:active{
  @include flat_button_color_active($red);
 }

 .flat-purple{
  @include flat_button_color($purple);
 }
 .flat-purple:hover{
  @include flat_button_color_hover($purple);
 }
 .flat-purple:active{
  @include flat_button_color_active($purple);
 }

 .flat-blue{
  @include flat_button_color($blue);
 }
 .flat-blue:hover{
  @include flat_button_color_hover($blue);
 }
 .flat-blue:active{
  @include flat_button_color_active($blue);
 }

 .flat-green{
  @include flat_button_color($green);
 }
 .flat-green:hover{
  @include flat_button_color_hover($green);
 }
 .flat-green:active{
  @include flat_button_color_active($green);
 }

 .flat-yellow{
  @include flat_button_color($yellow);
 }
 .flat-yellow:hover{
  @include flat_button_color_hover($yellow);
 }
 .flat-yellow:active{
  @include flat_button_color_active($yellow);
 }

 .flat-orange{
  @include flat_button_color($orange);
 }
 .flat-orange:hover{
  @include flat_button_color_hover($orange);
 }
 .flat-orange:active{
  @include flat_button_color_active($orange);
 }

 .flat-brown{
  @include flat_button_color($brown);
 }
 .flat-brown:hover{
  @include flat_button_color_hover($brown);
 }
 .flat-brown:active{
  @include flat_button_color_active($brown);
 }

 .flat-white{
  @include flat_button_color($white);
  background: transparent;
 }
 .flat-white:hover{
  @include flat_button_color_hover($white);
  color: $grey;

 }
 .flat-white:active{
  @include flat_button_color_active($white);
  color: $grey;
 }

 .flat-black{
  @include flat_button_color($black);
  background: transparent;
 }
 .flat-black:hover{
  @include flat_button_color_hover($black);
  color: $white;

 }
 .flat-black:active{
  @include flat_button_color_active($black);
  color: $white;
 }


.small-button{
  font-size: 0.8em;
  padding: 7px 15px;
}
.tiny-button{
  font-size: 0.5em;
  font-weight: bold;
  padding: 5px 10px;
}