

.fit{
	width: 100%;
	box-sizing: border-box;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0 !important;
}

.ruler{
	width: 90%;
	margin: 0 auto;
	height: 1px;
	background: rgba(236, 240, 241,0.8);
}
.red-color{
	color: $red;
}
.green-color{
	color: $green;
}
.blue-color{
	color: $blue;
}
.purple-color{
	color: $purple;
}
.yellow-color{
	color: $yellow;
}
.orange-color{
	color: $orange;
}
.brown-color{
	color: $brown;
}
.black-color{
	color: #222;
}