$medium: 1024px;
$small: 640px;

.fit{
	width: 100%;
	box-sizing: border-box;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0 !important;
}

.box-pa-10{
	padding: 10px;
}

.box-pa-20{
	padding: 20px;
}

.box-pa-30{
	padding: 30px;
}

.box-ma-10{
	margin: 10px;
}

.box-ma-20{
	margin: 20px;
}

.box-ma-30{
	margin: 30px;
}


.ruler{
	width: 90%;
	margin: 0 auto;
	height: 1px;
	background: rgba(236, 240, 241,0.8);
}
.container{
	width: 100%;
	margin: 0 auto;
	padding: 10px 15%;
	box-sizing: border-box;
	float: left;
	@media only screen and (max-width : $medium) {
		padding: 10px 10%;
    }
	@media only screen and (max-width : $small) {
		padding: 10px 5%;
    }
}
.white-color{
	color: #fff;
}
.red-color{
	color: $red;
}
.green-color{
	color: $green;
}
.blue-color{
	color: $blue;
}
.purple-color{
	color: $purple;
}
.yellow-color{
	color: $yellow;
}
.orange-color{
	color: $orange;
}
.brown-color{
	color: $brown;
}
.grey-color{
	color: $grey;
}
.black-color{
	color: #222;
}