.embeded {
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.5625rem;
  position: relative; }
  .embeded.widescreen {
    padding-bottom: 56.34%; }
  .embeded.vimeo {
    padding-top: 0; }
  .embeded iframe,
  .embeded object,
  .embeded embed,
  .embeded video {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; 
    left: 0; }