 $white: #fafafa;
 $grey: #333;
 $red: #f44336;
 $purple: #9c27b0;
 $blue: #2196f3;
 $green: #4caf50;
 $yellow: #fdd835;
 $orange: #ff9800;
 $brown: #795548;
/*!
 * Souris v1.0 beta 2 (http://rith.work/souris)
 * Copyright 2015 Souris.
 */

/*
@import 'normalize';
@import 'grid';
@import 'img';
@import 'float';

@import 'navbar';
@import 'video';
@import 'visibility';

*/
@import 'text';
@import 'other';
@import 'btn';
@import 'form';
@import 'table';

