.banner{
	min-height: 200px;
	background-color: #9c27b0;
	color: white;
}
.logo{
	width: 100px;
	padding: 10px;
	box-sizing: border-box;
	background: white;
	border-radius: 50%;
	margin: 0 auto;
}
.title{
	color: white;
}
.nav-bg{
	background: #ab47bc;
	color: white;
}