input[type=text] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=text]:focus {
    border: 2px solid #ce59e2; }
  input[type=text]:hover {
    border-left: 3px solid #ce59e2; }

input[type=password] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=password]:focus {
    border: 2px solid #ce59e2; }
  input[type=password]:hover {
    border-left: 3px solid #ce59e2; }

input[type=date] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=date]:focus {
    border: 2px solid #ce59e2; }
  input[type=date]:hover {
    border-left: 3px solid #ce59e2; }

input[type=tel] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=tel]:focus {
    border: 2px solid #ce59e2; }
  input[type=tel]:hover {
    border-left: 3px solid #ce59e2; }

input[type=number] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=number]:focus {
    border: 2px solid #ce59e2; }
  input[type=number]:hover {
    border-left: 3px solid #ce59e2; }

input[type=url] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=url]:focus {
    border: 2px solid #ce59e2; }
  input[type=url]:hover {
    border-left: 3px solid #ce59e2; }

input[type=time] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=time]:focus {
    border: 2px solid #ce59e2; }
  input[type=time]:hover {
    border-left: 3px solid #ce59e2; }

input[type=email] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=email]:focus {
    border: 2px solid #ce59e2; }
  input[type=email]:hover {
    border-left: 3px solid #ce59e2; }

input[type=search] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=search]:focus {
    border: 2px solid #ce59e2; }
  input[type=search]:hover {
    border-left: 3px solid #ce59e2; }

input[type=file] {
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none; }
  input[type=file]:focus {
    border: 2px solid #ce59e2; }
  input[type=file]:hover {
    border-left: 3px solid #ce59e2; }

select {
  padding: 10px;
  margin-bottom: 3px;
  border: 2px solid #e6e6e6;
  background-color: #fafafa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  select:hover {
    border-bottom: 2px solid #ce59e2; }
  select:active {
    border-bottom: 2px solid #ce59e2; }
  select option {
    padding: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0px;
  border: 2px solid #e6e6e6; }
  textarea:hover {
    border-bottom: 2px solid #ce93d8; }
  textarea:focus {
    border: 2px solid #ce93d8; }

/*# sourceMappingURL=style.css.map */
