$white: #fafafa;
 $grey: #333;
 $red: #f44336;
 $purple: #9c27b0;
 $blue: #2196f3;
 $green: #4caf50;
 $yellow: #fdd835;
 $orange: #ff9800;
 $brown: #795548;

 .label{
   padding: 5px;
   color: white;
   background-color: #757575;
   border-radius: 5px;
 }
 .label.blue{
   background-color: #039be5;
 }
 .label.red{
   background-color: #d32f2f;
 }
 .label.green{
   background-color: #4caf50;
 }
 .label.orange{
   background-color: #ef6c00;
 }
 .label.transparent{
   background-color: transparent;
   color: #555;
   border: 1px solid #555;
 }

a{
	color: $blue;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

 h1,h2,h3,h4,h5,h6 {
 	color: $grey;
	
	.label {
		font-size: 0.7em;
	}
 }
 p{
 	color: $grey;
 }
 q{
 	color: $grey;
 	font-style: italic;
 }
 blockquote{
 	color: $grey + 100 ;
 	display: block;
 	padding: 10px;
 	background-color: $grey + 200 ;
 	border-radius: 3px;
 	border-left: 3px solid $blue;
 }

.inline-list {
  list-style: none;
  margin-left: -1.375rem;
  margin-right: 0;
  margin: 0 auto 1.0625rem auto;
  overflow: hidden;
  padding: 0; }
  .inline-list > li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 1.375rem; }
    .inline-list > li > * {
      display: block; }